

<h2> Hello and welcome to the Quiz page </h2>
<p> Below is a list of questions and if you click on one,
    you will get a few more details on it and its corresponding
    answer. </p>
<p>You will also be able to add your own questions and answers
    to this page and contribute to this growing knowledge base</P>

    <ul>
      {{#each model as |question|}}
      {{question-tab question=question}}
      {{/each}}
    </ul>

    {{contribute-tab saveQuestion='saveQuestion'}}
    <li>
      {{#link-to 'questions' question-id}} {{question.notes}} {{/link-to}}

    </li>
